@model MvcProject.Models.Entity.Categories
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(c=>c.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(c=> c.CategoryName,"", new { @style="color:red"})
    </div>
    <div>
        <button class="btn btn-primary" style="margin-top:5px">Kategori Ekle</button>
    </div>
</form>

