
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table border="1">
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Yaşı</th>
            <th>Mesleği</th>
        </tr>
        <tr>
            <td>Arif</td>
            <td>İskilip</td>
            <td>22</td>
            <td>Yazılım Geliştirici</td>
        </tr>
    </table>
</div>

